---
import Layout from '../layouts/Layout.astro';
import Carousel from '../components/carousel';
import Intro from '../components/intro';
import Partnerships from '../components/Partnerships.astro';
import Services from '../components/Services.astro';
import Clients from '../components/Clients.astro';
---

<Layout title="Welcome to Astro." description="this is a description">
	<main>
		<Carousel client:load />
		<Intro />
		<Partnerships />
		<Clients />
		<Services />
	</main>
</Layout>


