---

const posts = await Astro.glob('../posts/parnterships/*.md') || [];

---

<section class="post-container">
    <h1>Our strategic and development partnerships work for you</h1>
    <div class="container">
        {
            posts.map((article) => (
            <article class="post">
                <article.Content />
            </article>
            ))
        }
    </div>
</section>
<style>
	.container {
        display: flex;
        justify-content: center;
        gap: 15px;
        margin: auto;
        flex-wrap: wrap;
    }

    h1 {
        text-align: center;
        color: #6b2875;
        font-weight: 600;
        margin: 1em 0 0.75em;
        text-shadow: none;
        font-size: 36px;
        line-height: 1.1;
    }
    .post-container :global(p) {
        text-align: center;
        margin: 0 0 30px;
        font-weight: 400;
        line-height: 1.875;
        font-size: 16px;
    }
    .post-container :global(img) {
        max-height: 50px;
        max-width: 80%;
        display: block;
        margin: auto;
        margin-bottom: 1em;
        margin-top: 1em;
    }
    .post {
        max-width: 360px;
    }
</style>
