.menu-burguer {
    max-width: 30px;
    max-height: 34px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    flex: 1;
    border-color: #ddd;  
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    border-radius: 4px;
    padding: 9px 0;
    margin-right: 15px;
    margin-top: 33px;
    margin-bottom: 33px;
  }
  
  .menu-line {
    width: 22px;
    margin: auto;
    height: 2px;
    border-radius: 1px;
    background-color: #ddd;
  }
    
  .open  {
    background-color: #eaeaea;
  }

  @media screen and (max-width: 780px) {
    .menu-burguer {
        display: flex;
    }
  }